<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body style="background-color: black; color: white;">
    <h2>You can edit your post here</h2>
    <!-- <h3>Post id: <%= post.id %> </h3> -->
    <h3>Post username: <%= post.title %> </h3>
    <form method="post" action="/post/<%= post.id %>?_method=PATCH">
        <textarea rows="20" cols="75" name="content"><%= post.content %></textarea>
        <button style="width: 4.8rem; font-weight: 600; border-radius: 0.4rem;">submit</button>
    </form>
</body>
</html>