<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweeple logIn</title>
</head>
<body style="background-color: black; color: white;">
    <h2>You can LogIn from here</h2>
    <input type="text" placeholder="Enter Username" name="username"> <br><br>

    <input type="password" placeholder="Enter password" name="password"> <br><br>
    <button>submit</button>
</body>
</html>