*{
    background-color: black;
    color: white;
}

.TextArea{
    background-color: aliceblue;
    color: black;
}

.btn{
    background-color: white;
    color: black;
    font-weight: 600;
    border-radius: 0.4rem;
}

h3{
    color: white;
}